<div class="ingredient">
    <form class="ingredient__form" [formGroup]="ingredientForm">
        <div>
            <input
                pInputText
                type="text"
                formControlName="name"
                placeholder="Name"
            >
        </div>
        <div>
            <input
                pInputText
                type="number"
                formControlName="quantity"
                placeholder="quantity"
            >
        </div>
        <button
            pButton
            type="button"
            label="Add"
            (click)="formSubmitHandler()"
            [disabled]="ingredientForm.invalid"
        ></button>
    </form>
</div>
