<div class="recipe">
    <section class="recipe__name">
        <div class="recipe__name--input">
            <input
                pInputText
                type="text"
                placeholder="Recipe Name"
                [(ngModel)]="recipeName"
            >
        </div>
    </section>
    <section>
        <app-ingredient-selector
            (addIngredient)="addIngredientHandler($event)"
        ></app-ingredient-selector>
        <hr />
    </section>
    <section
        *ngIf="this.ingredients.length !== 0; else noIngredients"
    >
        <app-recipe-data
            [ingredientsList]="ingredients"
            (deleteIngredient)="deleteIngredientHandler($event)"
        ></app-recipe-data>
        <hr />
    </section>
    <ng-template #noIngredients>
        <section>
            Please add Ingredients before submit
        </section>
    </ng-template>
    <section>
        <button
            pButton
            type="button"
            label="Submit"
            (click)="submitRecipeHandler()"
            [disabled]="isSubmitDisabled()"
        >
        </button>
    </section>
</div>
