.recipe {
    &__name {
        display: flex;
        .title {
            line-height: 45px;
        }
        &--input {
            margin: 5px;
        }
    }
    section {
        margin: 15px;
    }
}
